body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

input {
  padding: 5px;
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid rgb(80, 80, 80);
  margin-bottom: 5px;
}

input:focus-visible,
input:focus,
input:visited,
input:active {
  outline: 0;
  border: 1px solid rgb(48, 48, 48);
}

button {
  padding: 2px 5px;
}
.togglable {
  margin-bottom: 20px;
}
.blog-item {
  width: 40%;
  margin-bottom: 10px;
  padding: 5px 0;
  border-bottom: 1px solid rgb(80, 80, 80);
}

.blog-item-main {
  display: flex;
  justify-content: space-between;
}

.blog-detail-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notification {
  padding: 5px;
  margin: 7px auto;
  max-width: 400px;
  text-align: center;
  border-radius: 5px;
  border: 2px solid;
  color: #fff;
}

.notification-success {
  border-color: rgb(62, 197, 102);
  color: rgb(62, 197, 102);
}
.notification-error {
  border-color: rgb(192, 59, 93);
  color: rgb(192, 59, 93);
}

.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}